In [1]:
%%time

import pandas as pd
from datetime import datetime
import calendar

xls = pd.read_excel("./A股全部市值.xlsx")

CPU times: user 29.2 s, sys: 689 ms, total: 29.9 s
Wall time: 1min 10s

In [70]:
xls.loc[xls["行业.1"]=="金融"].nlargest(10,datetime(2019,12,31))

,代码,公司,行业,行业.1,成立年,上市年,上市后市值涨幅,2020-02-15 00:00:00,IPO,2019-12-31 00:00:00,...,1990-10-31 00:00:00,1990-09-30 00:00:00,1990-08-31 00:00:00,1990-07-31 00:00:00,1990-06-30 00:00:00,1990-05-31 00:00:00,1990-04-30 00:00:00,1990-03-31 00:00:00,1990-02-28 00:00:00,1990-01-31 00:00:00
0,601398.SH,工商银行,银行,金融,1985,2006,1.735062,19041.238361,10974.385027,20518.100251,...,0,0,0,0,0,0,0,0,0,0
1,601318.SH,中国平安,保险Ⅱ,金融,1988,2007,4.805913,14946.037845,3109.926759,15401.945681,...,0,0,0,0,0,0,0,0,0,0
2,601939.SH,建设银行,银行,金融,2004,2007,0.899626,14556.930232,16181.097042,15187.418549,...,0,0,0,0,0,0,0,0,0,0
4,601288.SH,农业银行,银行,金融,1986,2010,1.492092,11773.131655,7890.352938,12724.569525,...,0,0,0,0,0,0,0,0,0,0
5,601988.SH,中国银行,银行,金融,1983,2006,1.032542,9826.137335,9516.453422,10271.656017,...,0,0,0,0,0,0,0,0,0,0
7,600036.SH,招商银行,银行,金融,1987,2002,14.693989,8939.041374,608.346802,9399.388516,...,0,0,0,0,0,0,0,0,0,0
8,601628.SH,中国人寿,保险Ⅱ,金融,2003,2007,0.764643,7657.451853,10014.417490,8704.279379,...,0,0,0,0,0,0,0,0,0,0
11,601658.SH,邮储银行,银行,金融,2007,2019,0.984760,4624.282478,4695.846162,4876.070494,...,0,0,0,0,0,0,0,0,0,0
18,601166.SH,兴业银行,银行,金融,1988,2007,3.313755,3674.954344,1109.000000,4113.289769,...,0,0,0,0,0,0,0,0,0,0
17,601328.SH,交通银行,银行,金融,1987,2007,0.675270,3678.193042,5446.998485,3947.329761,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from datetime import datetime
def get_topn_of_year(df, n, year, month, industry):
    column_index = datetime(year, month, calendar.monthrange(year, month)[1])
    return df[df["行业.1"] == industry][["行业", "行业.1", column_index]].nlargest(n, column_index)

def get_values_of_year(df, n, year, month):
    labels = ['金融', '农业食品', '能源资源', '医疗健康', '基础设施', '消费服务', '信息技术', '制造业',
       '房地产建筑', '化工材料', '物流', '文化教育']
    values = list(map(lambda l: int(get_topn_of_year(df, n, year, month, l).iloc[:, 2].sum()), labels))
    return values

def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom',
                   size=15)

In [191]:

labels = ['金融', '农业食品', '能源资源', '医疗健康', '基础设施', '消费服务', '信息技术', '制造业',
       '房地产建筑', '化工材料', '物流', '文化教育']
colors = []
# for l in labels:
#     print(l)
#     print(get_topn_of_year(xls, 20, 2019, 12, l).iloc[:, 2].sum())
values = list(map(lambda l: int(get_topn_of_year(xls, 22, 2019, 12, l).iloc[:, 2].sum()), labels))
# print(values)
get_values_of_year(xls, 20,1990,1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
%%time

import matplotlib.pyplot as plt
from matplotlib import font_manager
import matplotlib.animation as animation
from dateutil.relativedelta import relativedelta

fname = ['Songti SC'][0]
plt.rcParams['font.family']=[fname]
plt.rcParams['axes.unicode_minus']=False

fontP = font_manager.FontProperties()
fontP.set_family(fname)
fontP.set_size(18)

fontTitle = font_manager.FontProperties()
fontTitle.set_family(fname)
fontTitle.set_size(18)

fig = plt.figure(figsize=(20, 12))
ax  = fig.add_subplot(111)

def draw(index):
    plt.cla()
    
    date = datetime(1990,1,1)
    date = date + relativedelta(months=index)
    ax.set_ylabel(u'投资额', fontproperties=fontP)
    ax.set_title(u'{}年各行业数据'.format(date.year), fontproperties=fontTitle)
    
    # 第3列为投资额
    labels = ['金融', '农业食品', '能源资源', '医疗健康', '基础设施', '消费服务', '信息技术', '制造业', '房地产建筑', '化工材料', '物流', '文化教育']
#     colors = ['red', 'blue', 'pink', 'yellow', 'brown', 'purple', 'orange', 'cyan', 'grenn', 'orange', 'cyan', 'grenn']
    colors = ['teal','red','blue','gold','green','cyan','pink','purple','orange', 'magenta', 'violet', 'lime', 'olive', 'salmon','goldenrod','fuchsia', 'orchid', 'plum']
    
    print(date)
    values = get_values_of_year(xls, 20, date.year, date.month)
    print(values)
    rects = plt.bar(labels, height = values, width=0.4, align='center', yerr=0.000001, color=colors)
    autolabel(rects)
    plt.ylim(bottom=0)
#     ax.set_xticklabels(labels)
    return rects

ani = animation.FuncAnimation(fig, draw, range(360), interval=300)

# ani.save('history.gif', fps=8, writer='imagemagick')
ani.save('history.mp4', fps=8, writer='imagemagick')
# FFwriter = animation.FFMpegWriter(fps=8, codec="libx264")     
# ani.save('basic_animation1.mp4', writer = FFwriter )

len(xls["行业.1"].unique())

In [58]:
import datetime
d = datetime.datetime(2019,12,31)
xls[["上市年","上市后市值涨幅", d]].describe()

               上市年      上市后市值涨幅  2019-12-31 00:00:00
count  3760.000000  3760.000000          3760.000000
mean   2008.125532     5.150307           171.025561
std       8.177317    26.745439           744.716129
min    1990.000000     0.000000             2.648646
25%    2000.000000     1.022804            29.975945
50%    2010.000000     1.755812            50.436484
75%    2016.000000     3.727025           109.147355
max    2019.000000  1261.998825         20518.100251

In [91]:
a = get_topn_of_year(xls,11,2019,12, "金融")
a
a.iloc[:,2].sum()

108774.90028737039

In [41]:
d = datetime.datetime(2019,12,31)
d

datetime.datetime(2019, 12, 31, 0, 0)

In [42]:
str(d)

'2019-12-31 00:00:00'

In [43]:
d - datetime.datetime(0,0,1,)

ValueError: year 0 is out of range

SyntaxError: invalid syntax (<ipython-input-44-7e21033584ae>, line 1)

In [163]:
import calendar
from datetime import timedelta
dt2 = datetime(2020,2, calendar.monthrange(2020,2)[1])
dt3 = dt2 + timedelta(months=12)
calendar.monthrange(2020,2)[1]

TypeError: 'months' is an invalid keyword argument for __new__()

In [164]:
import dateutil

In [165]:
from dateutil.relativedelta import relativedelta

In [166]:
dt1 = datetime(2020,2,29)

In [169]:
dt2 = dt1 + relativedelta(months=12)
dt3 = dt2 + relativedelta(months=12)

In [172]:
dt2,dt3,dt3.year,dt3.month

(datetime.datetime(2021, 2, 28, 0, 0),
 datetime.datetime(2022, 2, 28, 0, 0),
 2022,
 2)